.container{
    position: fixed;
    left: calc(50% - 100.63px);
    top: calc(60% - 273.61px);
    padding: 30px;
}

.txtContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
