@import '../../styles.scss';


.container{
    position: fixed;
    left: calc(50% - 167.63px);
    top: calc(60% - 273.61px);
    padding: 30px;
    width: 20rem;
    border-radius: 10px;
    background: $primary-color;
    /* inset: 10px 10px; */
    box-shadow: 15px 18px #4fa58f;
}

.txtContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    input{
        padding: 10px;
        border-radius: 5px;
        border: 0px;
        background: #ffffff85;
    }
    p{
        color: red;
        margin: 0px;
    }
}
