<div class="container">
  <nav class="navigator">
    <p class="navLogo"><span style="color: var(--primary-color);">P</span><span>a</span><span>y</span><span style="color: var(--primary-color);">M</span><span>e</span></p>
    <div class="contentBlockNav">
      <div class="blockNav">
        <a id="nav1" (click)="fncCargarLogin($event)">Login</a>
      </div>
      <div class="blockNav">
        <a id="nav2" href="/Register">Sign up</a>
      </div>
    </div>
  </nav>
  <div id="contenidoInicio">
    <p id="parrafo-1" class="writing" data-text="Pide, recibe y envía dinero sin complicaciones"></p>
    <h1 id="parrafo-2" class="writing" data-text="PayMe, lo hace facil"></h1>
  </div>
  <div id="cv" class="pulse" (click)="fncEmpezar();">
    <p>¡Empieza ya!</p>
  </div>
</div>