
<div class="profileText">
    <h3>PROFILE</h3>
</div>
<div class="profileSection">
    <img src="assets/images/user.png" alt="">
    <div class="profileInfo">
        <div>
            <p id="txtName">Manuel Andre Valdayo bricaud</p>
        </div>
        <div>
            <p></p>
        </div>
        <div>
            <p></p>
        </div>
    </div>
</div>
<div class="personalInformation">
    <div class="headerInformation">
        <h4>Personal Information</h4>
        <div class="editButton">
            <p>Edit</p>
        </div>
    </div>
    <div class="info">
        <div class="contentInfo">
            <div class="textInfo">
                <label for="pInfo_1">First Name</label>
                <p id="pInfo_1">Manuel André</p>
            </div>
            <div class="textInfo">
                <label for="pInfo_2">Last Name</label>
                <p id="pInfo_2">Valdayo Bricaud</p>
            </div>
        </div>
        <div class="contentInfo">
            <div class="textInfo">
                <label for="pInfo_3">Email Address</label>
                <p id="pInfo_3">"andresvaldayo&#64;gmail.com"</p>
            </div>
            <div class="textInfo">
                <label for="pInfo_4">Phone Number</label>
                <p id="pInfo_4"></p>
            </div>
        </div>
        <div class="contentInfo">
            <div class="textInfo">
                <label for="pInfo_5"></label>
                <p id="pInfo_5"></p>
            </div>
            <div class="textInfo">
                <label for="pInfo_6"></label>
                <p id="pInfo_6"></p>
            </div>
        </div>
    </div>
</div>
<div class="personalAddress">
    <h4>Address</h4>

</div>