@import '../../styles.scss';

input{
    margin: 0.5rem 1rem;
    background: #e9e9e9;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}
input:focus-visible{
    outline: 2px solid $secondary-color;
}
.content{
    margin: 2rem;
    display: flex;
    background: white;
    border-radius: 1rem;
    box-shadow: 5px 5px #00000029;
}

.profileText{
    margin: 2rem;
}
.profileSection{
    @extend .content;
    img{
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        margin: 1rem;
    }

    .profileInfo{
        #txtName{
            font-size: 1rem;
            font-weight: bold;
            color: $secondary-color;
        }
    }

}
.personalInformation{
    @extend .content;
    flex-direction: column;
    padding: 0rem 2rem;
    h4{
        margin: 0rem 1rem 0rem 0rem;
    }
    .info{
        display: flex;
        flex-direction: row;
        margin: 1rem;
        p{
            margin: 0;
        }
    }
    .headerInformation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $secondary-color;
    }
}
.contentInfo{
    display: flex;
    flex-direction: column;
    width: 33%;

    .textInfo{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        
        .label{
            margin-left: 1rem;
        }
    }
}

.personalAddress{
    @extend .content;
    @extend .personalInformation;
}

.profileContainer{
    display: flex;

    .profileSection{
        width: 20%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0px;

        img{
            background: #e9e9e9;
            border-radius: 100%;
            padding: 1rem;
        }
        p{
            margin: 0;
        }
        .selectImageButton{
            margin-top: 4rem;
            padding: 0.7rem;
            border-radius: 5px;
            background: var(--primary-color);
            border: 1px solid var(--primary-color);
            transition: background 0.3s ease-in-out;
        }
        .selectImageButton:hover{
            background: var(--terciary-color);
            cursor: pointer;
        }

    }
    .profileDetails{
        width: 80%;
    }
}