<div class="panel">
    <div class="panelContent">
        <h1>PayMe</h1>
        <div class="panelSections">
            <div class="panelSection">
                <i class="fa-solid fa-user"></i>
                <a class="section" href="/Panel/Profile" routerLinkActive="active">Profile</a>
            </div>
            <div class="panelSection">
                <i class="fa-solid fa-dollar-sign"></i>
                <a class="section" routerLink="/panel/users" routerLinkActive="active">Send money</a>
            </div>
            <div class="panelSection">
                <i class="fa-solid fa-money-check"></i>
                <a class="section" href="/Panel/Card" routerLink="/panel/products" routerLinkActive="active">Card</a>
            </div>
            <div class="panelSection">
                <i class="fa-solid fa-gear"></i>
                <a class="section" routerLink="/panel/settings" routerLinkActive="active">Settings</a>
            </div>
        </div>
    </div>
    <div class="sectionLoader">
        <router-outlet></router-outlet>
    </div>
</div>